rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /presentations/yan-story-teller-default/{allPaths=**} {
      allow read, write: if true;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
